[submodule "src/content-sources/subb"]
	path = src/content-sources/oatutor
	url = https://github.com/CAHLR/OATutor-Content.git
[submodule "src/content-sources/oatttt"]
	path = src/content-sources/oatutor
	url = https://github.com/CAHLR/OATutor-Content.git
